{% extends 'blog/base.html' %}
{% block content %}

<p>Founded in 1925, Napa Auto Parts sells parts to keep vehicles on the road. Under the parent company of Genuine Parts Company, there are over 6000 stores, 1142 under GPC and the remaining being independent stores.</p>
<p>Currently, the headquarters are located in Atlanta, GA. The current CEO is Paul Donahue.</p>
<p>When it comes to sponsorships, Napa sponsors the Atlanta Braves, Atlanta Falcons, Atlanta United, and the Mexico national football team, as well as Chase Elliott with his number 9 Chevrolet in 26 NASCAR races every season.</p>

{% endblock %}