
{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
    <body>
    <img src="{% static 'image/napa.png' %}" alt="Napa Logo">
    <p>Welcome to the official site of Napa Auto Parts. This website will help you with what parts you need.</p>
    <p>Go to <em>Part Lookup</em> if you need to find a part.</p>
    <p>If you want to know more about Napa Auto, go to <em>About.</em></p>
    <br><br><br>
    <img src="{% static 'image/bosch_icon.png' %}" alt="Bosch Icon Wiper Blade">
    <h4>Bosch Icon Wiper Blade - $14.99 Each</h4>
    <br><br>
    <img src="{% static 'image/5w20_napa_oil_5qt.png' %}" alt="5W20 Napa Synthetic Oil 5 Quart">
    <h4>5W20 Napa Synthetic Oil 5 Quart - $19.99 Each</h4>
    <br><br>
    <img src="{% static 'image/5w20_napa_oil_quart.png' %}" alt="5W20 Napa Synthetic Oil Quart">
    <h4>5W20 Napa Synthetic Oil Quart - $4.99 Each</h4>
    </div>
    
    </body>
    </html>
{% endblock %}