{% extends 'blog/base.html' %}
{% block content %}
<p>Please Put in Your Car Info </p>
<form method="get">
  {{ car_form.as_p }}
  <button type="submit" name="car_submit">Show Parts</button>
</form>

{% if car_results is not None %}
  {% if car_results %}
      <h3>Available Parts:</h3>
      <ul class="part-list">
      {% for part in car_results %}
          <li>{{ part.name }} - {{ part.description }}</li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No parts found for the selected combination.</p>
  {% endif %}
{% endif %}

<p>Find Cars for a Specific Part</p>
<form method="get">
    {{ part_form.as_p }}
    <button type="submit" name="part_submit">Show Cars</button>
</form>


{% if part_results is not None %}
        {% if part_results %}
            <h3>Cars with Selected Part:</h3>
            <ul class="car-list">
            {% for car in part_results %}
                <li>{{ car.year }} {{ car.make }} {{ car.model }} - {{ car.engine }}</l>
            {% endfor %}
            </ul>
        {% else %}
            <p>No cars found with the selected part.</p>
        {% endif %}
{% endif %}


{% endblock %}